/* for Mobile */
@media (max-width: 767px) {
        .main {
                width: 480px;
        }
        .main .menu {
                width: 100%;
                height: 150px;
        }

        .main .boxes {
                width: 100%;
                height: 125px;
        }
        .boxes .row1 .box {
                width: 100%;
                height: 250px;
        }

        .boxes .row2 .box {
                width: 50%;
        }
}
